<template>
  <div class="columns">
    <div style="position: absolute;top: 20px; left: 5px;">
      <button class="button" @click="loginHandler()">Login</button>
    </div>
    <div class="column">
      <div class="container level-right">
        <div class="field has-addons">
          <div class="field-label is-small">
            <label class="label">Faktura VAT</label>
          </div>
          <div class="control">
            <input class="input is-small" style="width: 70px;" placeholder="Num" v-model="invoice_number" />
          </div>
        </div>
      </div>
      <div class="container level-right">
        <div class="field has-addons">
          <div class="field-label is-small">
            <label class="label">Wystawiono w dniu</label>
          </div>
          <b-datepicker
            size="is-small"
            v-model="make_time"
            placeholder="Data wystawienia"
            icon="calendar-today">
          </b-datepicker>
          <div class="control">
            <input class="input is-small" style="width: 120px;" placeholder="city" v-model="city" />
          </div>
        </div>
      </div>
      <div class="container level-right">
        <div class="field has-addons">
          <div class="field-label is-small">
            <label class="label">Data zakończenia dostawy/usługi</label>
          </div>
          <b-datepicker
            size="is-small"
            v-model="end_time"
            placeholder="Data zakończenia"
            icon="calendar-today">
          </b-datepicker>
        </div>
      </div>
      <div class="container level-right">
        <div class="field has-addons">
          <div class="field-label is-small">
            <label class="label">Termin płatności</label>
          </div>
          <b-datepicker
            size="is-small"
            v-model="pay_time"
            placeholder="Termin płatnośc"
            icon="calendar-today">
          </b-datepicker>
          <div class="control">
            <input class="input is-small" style="width: 120px;" placeholder="Number" v-model="pay_quantity" />
          </div>
          <div class="control">
            <input class="input is-small" style="width: 120px;" placeholder="Days" v-model="pay_name" />
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-half">
          <label class="label is-small">Sprzedawca</label>
          <textarea class="textarea is-small" rows="3"
                    placeholder="Adres sprzedawcy" v-model="seller"></textarea>
        </div>
        <div class="column is-half">
          <label class="label is-small">Odbiorca</label>
          <textarea class="textarea is-small" rows="3"
                    placeholder="Adres odbiorcy" v-model="buyer"></textarea>
        </div>
      </div>
      <div class="container is-fullhd">
        <table>
          <thead>
            <tr>
              <th><abbr title="Lp">Lp.</abbr></th>
              <th><abbr title="Nazwa towaru lub usługi">Nazwa towaru lub usługi</abbr></th>
              <th><abbr title="Symbol PKWiU">Symbol PKWiU</abbr></th>
              <th><abbr title="Jm.">Jm.</abbr></th>
              <th><abbr title="Ilość">Ilość</abbr></th>
              <th><abbr title="Cena netto">Cena netto</abbr></th>
              <th><abbr title="Wartość netto">Wartość netto</abbr></th>
              <th><abbr title="VAT %">VAT %</abbr></th>
              <th><abbr title="Kwota VAT">Kwota VAT</abbr></th>
              <th><abbr title="Wartość brutto">Wartość brutto</abbr></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>RAZEM :</th>
              <th>0</th>
              <th></th>
              <th>0</th>
              <th>0</th>
            </tr>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>W tym :</th>
              <th>0</th>
              <th>0</th>
              <th>0</th>
              <th>0</th>
            </tr>
          </tfoot>
          <tbody>
            <tr v-for="(c, index) in commodity" :key="index">
              <td>{{index+1}}</td>
              <td><textarea class="textarea is-small" v-model="c.name" rows="2"></textarea></td>
              <td><input class="input is-small" v-model="c.pkwiu" /></td>
              <td><input class="input is-small" v-model="c.jm" /></td>
              <td><input class="input is-small" v-model="c.quantity" /></td>
              <td><input class="input is-small" v-model="c.netto" /></td>
              <td></td>
              <td><input class="input is-small" v-model="c.vat" /></td>
              <td></td>
              <td></td>
              <td><button class="button is-small" @click="removeCommodity(index)">x</button></td>
            </tr>
          </tbody>
        </table>
        <div class="field level-right">
          <button class="button is-small" @click="addCommodity()">Dodaj towar lub usługę</button>
        </div>
      </div>
      <div class="columns">
        <div class="column is-half"></div>
        <div class="column is-half">
          <label class="label is-small">Uwagi</label>
          <textarea class="textarea is-small" rows="2"
                    placeholder="Uwagi"></textarea>
          <div>
            <label class="label is-small">Sposób zapłaty</label>
            <input class="input is-small" placeholder="Sposób zapłaty" />
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-half">
          <label class="label is-small">Osoba upoważniona do odbioru faktury</label>
        </div>
        <div class="column is-half">
          <label class="label is-small">Osoba upoważniona do wystawienia faktury</label>
          <input class="input is-small" v-model="signature" />
        </div>
      </div>
      <div class="container level-right">
        <button class="button is-small" @click="generateHandler()">Wygeneruj fakturę</button>
      </div>
    </div>
  </div>
</template>

<script>
const EMPTY_COMMODITY = {
  name: 'Commodity\n ',
  jm:'godz.',
  pkwiu:'62.01',
  quantity: 10,
  netto: 10,
  vat: 23,
}
export default {
  components: {
    
  },
  data() {
    const month = new Date();
    const next = new Date(month.getFullYear(), month.getMonth()+1, 0)
    return {
      invoice_number: 1,
      make_time: month,
      city:'Warszawa',
      end_time: month,
      pay_time: next,
      buyer: 'Buyer',
      seller: 'Seller',
      pay_quantity: '7',
      pay_name: 'dni',
      commodity: [
        Object.assign({}, EMPTY_COMMODITY),
      ],
      signature: '',
    }
  },
  methods: {
    loginHandler() {
      alert("Some day...")
    },
    generateHandler() {
      this.$store.dispatch('invoice/generate', this.toJSON());
    },
    addCommodity() {
      this.commodity.push(Object.assign({}, EMPTY_COMMODITY));
    },
    removeCommodity(index) {
      this.commodity.splice(index, 1);
    },
    toJSON() {
      const buyer = this.buyer.split('\n');
      const seller = this.seller.split('\n');
      const commodity = [];
      this.commodity.forEach((el) => {
        commodity.push(Object.assign({json:'Commodity'}, el));
      });
      return {
        "json": "Invoice",
        "signature": this.signature,
        "type":1,
        "date": {
          "json": "InvoiceDate",
          "make_time": this.make_time.getTime(),
          "end_time": this.end_time.getTime(),
          "pay_time": this.pay_time.getTime(),
          "num": this.invoice_number,
          "type": "VAT"
        },
        "seller": {
          "json": "Client",
          "data": seller,
          "bank_account": 0
        },
        "buyer": {
          "json": "Client",
          "data": buyer,
          "bank_account": 0
        },
        "pay_time": this.pay_quantity,
        "pay_jm": this.pay_name,
        "name": "Faktura",
        "city": this.city,
        "commodity": commodity,
      };
    }
  }
}
</script>

<style>

  th, td {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }
</style>
